/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: url(../images/fundo.png) repeat-x;
}

/* end reset */

/* start header */

header {
    width: 750px;
    margin: 0 auto;
    
}

header nav .logo {
    width: 152px;
    height: 66px;
    padding: 10px 0;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -3000px;
}

header nav {
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

header nav ul {
    list-style: none;
    text-decoration: none;
    background-color: rgb(129, 30, 30);
    margin-top: 10px;
    width: 82%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
    background: url(../images/divisor.png) no-repeat left center;
}

header ul .primeiro a {
    background: none;
}

header nav ul a:hover {
    color: #69001d;
    
}