/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: url(../images/fundo.png) repeat-x;
}

header {
    width: 750px;
    margin: 0 auto;
    
}

header nav {
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

header nav ul {
    list-style: none;
}